//Variables

$dark-green-title:#025157;
$dark-green-text:#135359;
$white:#ffffff;

//Fuentes
$font-title:"Alegreya", serif;

//Placeholders
%base-title {
    font-family: $font-title;
    color: $dark-green-text;
    font-weight:700;
}